*{
    box-sizing: border-box;  
  }
  
   header{
        padding: 30px 0;
  } 
    header .navigation{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
  }
    header .notice{
        display: flex;
  }

    .notice h4{
        font-family: "Roboto-regular";
        font-size: 15px;
        color: red;
        letter-spacing: 1px;
}
    .notice p{
        font-family: "Roboto-regular";
        font-size: 15px;
        color: black;
}

    .notice h5{
        font-family: "Roboto-medium";
        font-size: 15px;
        color: black;
        letter-spacing: 1px;
}
    .notice h6{
        font-family: "Roboto-bold";
        font-size: 15px;
        color:#8bc34a ;
}

    .notice .button-not a{
         margin: 10px;  
        text-decoration: none;
        flex: row;
        justify-content:space-around;
  }


    .notice .button-not{
        display: flex;
        align-items: center;
    
}

    .notice .fa{
         transform: translate(1730%,-100%) rotate(-90deg);
}
    .notice a{
      text-decoration: none;
}

    .notice .button-register {
    font-family:"Roboto-regular";
    color:white;
    padding: 19px 15px;
    border-radius: 13px;
    text-decoration: none;
    background-color: #e74c3c;
    margin-bottom: 20px;
   
  }
  .notice .button-login {
    font-family:"Roboto-regular";
    font-size: 15px;
    color:white;
    padding: 20px 22px;
    border-radius: 13px;
    text-decoration: none;
    background-color:green;
    margin-bottom: 20px;
    margin-right: 20px;
     
}


    .notice  a {
        font-family:"Roboto-regular";
        font-size: 15px;
        color:white;
  } 

    .box .container-1{
        vertical-align: middle;
        white-space: nowrap;
        flex-wrap: wrap; 
        position: relative;
  }
  
  box .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
 
}

    .box .container-1 input#search{
        width: 680px;
        height: 60px;
        background: white;
        border: 1px solid #e1e1e1 ;
        border-radius: 7px;
        font-family: "Roboto-medium";
        letter-spacing: 1px;
        box-shadow:0px 0px 16px 2px rgba(37, 122, 75, 0.55);
  }
  
   .box .container-1 .icon{
        position: absolute;
        margin-left: 93%;
        margin-top: 17px;
        margin-top: 20px;
        color: #4f5b66;    
          
  } 
    .box .container-1 .icon .fa {
        display:flex;
        font-size: 22px;
        color: #4f5b66;
  }
   

    .menu .nav {
        margin: 0 auto;
        background-color: #263238;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
  }

    .menu .nav a{
        font-family:"Roboto-medium";
        font-size: 15px;
        color:white;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 20px;
  }

   .menu .nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
  }  

    .banner{
        height:540px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image:url(../img/banner_background.png);
    }
    
    .banner h1{
        font-family:"Roboto-bold";
        font-size: 40px;
        color:white;
        letter-spacing: 3px;
}


    .banner h2{
        font-family:"Roboto-medium";
        font-size: 20px;
        color:white;
        letter-spacing: 1px;
}

 
    .box .title {
        text-align:  center;
        margin-bottom: 30px;
        color: azure;
} 

    input:hover::placeholder { 
        opacity: 0;
    }


  